@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --lightGrey: #f2f2f2;
    --hardGrey: #d9d9d9;
    --lightBlue: #deebff;
    --hardBlue: #0065FC;
    --materialShadow: 5px 5px 5px 0px #E2E2E2;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {  
    font-family: 'Raleway', sans-serif;
    font-weight:400;
    margin:0 auto;
  }
  
main, header {
    max-width:1440px;
    width:95%;  
    margin:0 auto;
  }

a {
    color:inherit;
    text-decoration: none;
}

a:hover {
    color:var(--hardBlue)
}

h1, h2 {
    font-size:22px;
}

h3, p {
    font-size:16px;
}


header {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    max-height:120px;
    margin:auto;
    padding-top:20px;
    padding-bottom:25px;
}

/* HEADER */

.logo-booki {
    width:120px;
}

#menu {
    display:flex;
    gap:60px;
    list-style-type: none;
    margin-right:50px;
    margin-top:0px;
}

.liste-menu a {
    padding-top:44px;
}

.liste-menu a:hover {
    border-top:2px solid var(--hardBlue);

}

@media screen and (max-width: 768px)
{
main {
    width:100%;
}
#hero {
    width:90%;
    margin:auto;
}
header {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-bottom:50px;
}

#logo {
    display: flex;
    justify-content: center;
}
nav {
    height:50px;
    width:100%;
}

#menu {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0;
    width:100%;
    height:100%;
    margin:0;
    padding:0;

}

.liste-menu {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis:50%;
    width:50%;
    margin:0;
    text-align: center;
    padding-bottom:15px;
    border-bottom:3px solid var(--hardGrey);
    border-top:2px var(--hardGrey) transparent;

}

.liste-menu:hover {
    color:var(--hardBlue);
    border-bottom:3px solid var(--hardBlue);

}

.liste-menu a:hover {
    border:none;
}

}

@media screen and (max-width: 992px)
{
main {
    width:100%;
}
#hero {
    width:90%;
    margin:auto;
}
}
/* FILTRES */


.recherche {
    display:flex;
    max-width: 35%;
    min-width:400px;
}

.button-r {
    background-color: var(--hardBlue);
    border-style:none;
    border-radius: 0 10px 10px 0;
    height: 50px;
    color:white;
    padding-left:20px;
    padding-right:20px;
    cursor:pointer;
}

.button-r:hover {
    background-color: var(--lightBlue);
    color:var(--hardBlue);
}

.form-marseille {
    height:50px;
    border:0.5px solid var(--lightGrey);
    padding-left:10px;
    width:100%;
    font-weight:700;
}

.fa-map-marker-alt {
    padding:15px;
    text-align:center;
    font-size:20px;
    width:50px;
    height:50px;
    background-color:var(--lightGrey);
    border-radius:10px 0 0 10px;
}


.search {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    margin-top:25px;
    height:50px;
}

.filtre {
    border:2px solid var(--hardGrey);
    border-radius:40px;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-right:20px;
    cursor: pointer;
    }

.filtre:hover {
    border:2px solid var(--hardBlue);
}
    
.titre-search {
    display:flex;
    font-weight: 700;
}

.legend-search {
    display:flex;
    flex-direction:row;
    align-items: baseline;
    gap:10px;
    margin-top:35px;
}

.fa-info {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:12px;
    color:var(--hardBlue);
    height:20px;
    width:20px;
    border-radius: 20px;
    border:1px solid var(--lightBlue);
    padding:10px;
}

.fa-search {
    display:none;
}

input[type="checkbox"] {
        display: none;
      }

.checkbox {
    border:1px solid var(--lightGrey);
    border-radius:10px;
    height:50px;
    padding:10px 20px 10px 20px;
}

.icon-filtre {
    background-color: var(--lightBlue);
    color:var(--hardBlue);
    padding:15px;
    text-align:center;
    font-size:20px;
    height:50px;
    width:50px;
    border-radius:40px;
    margin:-2px;
}

.label-filtre {
    margin-left:15px;
    font-weight: 700;
}

@media screen and (max-width: 768px)
{

.fa-search {
    display:inline;
    color:white;
}

button span {
    display:none;
}

.recherche {
    max-width: 40%;
    min-width:95%;
    position:relative;

}

.button-r {
    border-radius: 10px;
    width:50px;
    height: 50px;
    position:absolute;
    right:-10px;
    text-align: center;
    padding:0;

}
.search {
    flex-wrap: wrap;
    gap:5px;
    height:100%;
    margin-top:20px;
}
.titre-search {
    flex-basis:100%;
    margin:0;
    }
.titre-search h3 {
    font-size:22px;
    font-weight:700;
}

.legend-search {
    margin:15px 0;
}
}


/* MAIN */

#centrale {
    display:flex;
    flex-direction: row;
    gap:40px;
    margin-top:35px;
}

@media screen and (max-width: 768px)
{
    #centrale {
        display:flex;
        flex-direction: column-reverse;
        margin-top:20px;
        gap:0;
}
}

@media screen and (max-width: 992px)
{
    #centrale {
        display:flex;
        flex-direction: column-reverse;
        margin-top:20px;
        gap:0;
}
}



/* HEBERGEMENT A MARSEILLE */

#heb-marseille {
    background-color: var(--lightGrey);
    border-radius: 50px;
    width:65%;
    padding:45px 0 45px 10px;
}

#heb-marseille h2 {
    margin-left:50px;
}

#hebergement-marseille {
    display:flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;    
    margin:0 auto;
}

.card {
    width: 250px;
    border:4px solid white;
    border-radius:25px;
    box-shadow: 5px 5px 5px 0px #E2E2E2;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    background-color: #fff;
}

.card-lien {
    transition: 300ms ease;
}

.card-lien:hover {
    transform:scale(1.03);
}

.card-image {
    width:100%;
    height:120px;
    object-fit: cover;
    object-position: center;
    border-radius:25px 25px 0 0;
    margin-bottom:5px;
}

.card-def {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:80px;
    padding:5px 0 5px 10px;
}

.card-title {
    font-weight:700;
    margin:0;
}

.card-price {
    font-weight:400;
    margin:0;
    font-size:12px;
}

.card-star {
    font-size:12px;
    margin:0;

}


.plus {
    font-size:18px;
    font-weight: 700;
    margin-left:50px;
    margin-top:40px;
}

.full {
    color:var(--hardBlue);
}
.empty {
    color:var(--hardGrey);
}

@media screen and (max-width: 768px)
{

    
#heb-marseille {
    width:100%;
    margin:0;
    flex-basis:100%;
    background-color: #fff;    
    padding:20px;     
} 

#hebergement-marseille {
    flex-direction:column;
    margin:auto;
    gap:10px;
    padding:0px;
}

#heb-marseille h2 {
    margin:20px 0 20px 0;
}
.card {
    width:100%;
}

.plus {
    margin:30px 10px;
}
}

@media screen and (max-width: 992px)
{

    
#heb-marseille {
    width:100%;
    margin:0;
    background-color: #fff;    
    padding:20px;     
} 

#hebergement-marseille {
    flex-direction:row wrap;
    justify-content: space-around;
}

#heb-marseille h2 {
    margin:20px 0 20px 25px;
}


.plus {
    margin:30px 0 20px 25px;
}
}

/* HEBERGEMENTS POPULAIRES */

aside {
    background-color: var(--lightGrey);
    border-radius: 50px;
    width:35%;
    padding:45px 0 45px 10px;
}

#title-aside {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding:0 40px;
}

.fa-chart-line {
    font-size:20px;
}

.pop {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin:auto;
    margin-bottom:35px;
    gap:35px;
    width:100%;
    padding:0px 35px 0px 35px;
}

.pop-lien {
    transition: 300ms ease;
    width:100%;
}

.pop-lien:hover {
    transform:scale(1.03);
}

.pop-card {
    display:flex;
    flex-direction:row;
    background-color: #fff;
    border-radius:25px;
    border:4px solid white;
    box-shadow: 5px 5px 5px 0px #E2E2E2;
    height: 144px;
    width:100%;
    margin:auto;
}

.pop-img img {
    width:130px;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
    margin-right:20px;
}

.pop-describe {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.pop-title {
    font-weight:700;
    margin-top:5px;
    margin-bottom:0px;  
}

.pop-title-price {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.pop-price {
    font-size:12px;
    font-weight: 400;
    padding-top:0px;
}

@media screen and (max-width: 768px)
{
aside {
    width:100%;
    margin:auto;
    flex-basis:100%;
    border-radius:0px;
    padding:20px;     }

#heb-marseille {
    width:100%;
}

#title-aside {
    padding:0px;
}

div.pop {
    padding:0; 
}
}

@media screen and (max-width: 992px)
{
aside {
    width:100%;
    margin:auto;
    flex-basis:100%;
    border-radius:0px;
    padding:20px;     }

#heb-marseille {
    width:100%;
}

#title-aside {
    padding:0px;
}

div.pop {
    padding:0; 
}
}
/* ACTIVITES */

#activites {
    display:flex;
    flex-direction: column;
    margin-top:60px;
}

#activites-marseille {
    display:flex;
    gap:40px;
    justify-content: space-between;
    height:450px;
    margin-top:25px;
}

.column {
    display:flex;
    flex-direction: column;
    width:25%;
    justify-content: space-between;
}

#activites-marseille article {
    display:block;    
    background-color: #fff;
    border-radius:25px;
    box-shadow: 5px 5px 5px 0px #E2E2E2;
}

#activites-marseille a {
    display:block;
    transition: 300ms ease;

}

#activites-marseille a:hover {
    transform:scale(1.03);
}

#activites-marseille h3 {
    height:55px;
    padding-left:20px;
    
    
   
}
#card1 {
    height: 450px;
}
#card1 img {
    width:100%;
    height:395px;
    object-fit: cover;
    object-position: center;
    border-radius:25px 25px 0 0;
}

#card2 {
    height:235px;
   }

#card2 img {
    width:100%;
    height:180px;
    object-fit: cover;
    object-position: center;
    border-radius:25px 25px 0 0;
}

#card3 {
    height:165px;
}

#card3 img {
    width:100%;
    height:110px;
    object-fit: cover;
    object-position: center;
    border-radius:25px 25px 0 0;}

#card4 {
    height:450px;
}

#card4 img {
    width:100%;
    height:395px;
    object-fit: cover;
    object-position: center;
    border-radius:25px 25px 0 0;
}

#card5 {
    height: 195px;
}
#card5 img {
    width:100%;
    height:140px;
    object-fit: cover;
    object-position: center;
    border-radius:25px 25px 0 0;
}

#card6 {
    height: 210px;
}
#card6 img {
    width:100%;
    height:155px;
    object-fit: cover;
    object-position: center;
    border-radius:25px 25px 0 0;
}
@media screen and (max-width: 768px)
{
#activites {
    width:90%;
    margin:auto;
}
#activites-marseille {
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
    height:100%;

}

.column {
    width:100%;
    gap:20px;
}
#card1 {
    width:100%;
    height:190px;
}

#card2 {
    width:100%;
    height:190px;
}

#card3 {
    width:100%;
    height:190px;
}
#card4 {
    width:100%;
    height:190px;
}
#card5 {
    width:100%;
    height:190px;
}
#card6 {
    width:100%;
    height:190px;
}

#card1 img {
    height:130px;
}

#card1 h3 {
    height:60px;
}

#card2 img {
    height:130px;
}

#card3 img {
    height:130px;
}

#card4 img {
    height:130px;
}

#card5 img {
    height:130px;
}

#card6 img {
    height:130px;
}

}  

@media screen and (max-width: 992px)
{
#activites {
    width:90%;
    margin:auto;
}

#activites-marseille {
    flex-wrap: wrap;
    justify-content: space-between;
    gap:50px;
    height:100%;

}
.column {
    display:flex;
    flex-direction: column;
    width:45%;
    justify-content: space-between;
}

}

/* FOOTER */

footer {
    width:100%;
    background-color:var(--lightGrey);
    margin-top:60px;
    padding-top:45px;
    padding-bottom:55px;

    
}

#footer {
    max-width:1440px;
    width:95%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin:auto;
    height: 220px;
    gap:200px;
    padding-top:20px;
}
footer ul {
    list-style-type:none;
    padding-left:0px;
    line-height: 2em;
}

footer h3 {
    margin-bottom:20px;
}

@media screen and (max-width: 768px)
{

footer {
    padding:20px 0 20px 20px;
}
#footer {
    flex-direction: column;
    height:100%;
    gap:20px;
    padding:0;
}



}

@media screen and (max-width: 992px)
{

footer {
    padding:25px;
}

#footer {
    justify-content: space-around;
    gap:150px;
}
}


